<!DOCTYPE html>
<html>
  <head>
    <title>ImageOverlay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('jquery.textover') %>
    <%= javascript_include_tag('jquery.textover.min') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
